<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>noenunz.rfgenqn@tznvy.pbz</string>
	<key>contactName</key>
	<string>Abraham Estrada</string>
	<key>description</key>
	<string>Personal Snippets</string>
	<key>name</key>
	<string>Abe</string>
	<key>uuid</key>
	<string>BEA915BE-8023-4EFF-9D91-9CB674D4E2D1</string>
</dict>
</plist>
